#title{
    text-align:center;
    padding: 8px 12px;
    padding-left: 30px;
    font-size: 25px;
    letter-spacing: 30px;
    font-weight: bold;
    border: 5px solid #c50a6e;
    border-style: dashed;
    color: rgb(166, 14, 110);
    background-color: rgba(245, 179, 190, 0.4);
    margin: 3px 3px 3px   

}
